<div class="container-form">
<h2 class="signup">Create a New Pet Place</h2>

  <div class="sign-up-form">
    <% if @petplace.errors.any? %>
  <div class="errors-container">
      <ul>
        <% @petplace.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
  </div>
    <% end %>

      <div class="styling-container">
        <%= simple_form_for(@petplace) do |f| %>

              <%= f.input :name %>
              <%= f.input :address %>
              <%= f.label :details %>
              <%= f.text_area :details %>
              <%= f.input :price, input_html: { min: '0', step: 'any' }  %>
              <%= f.input :images %>


        <div class="form-actions">
          <div class="input btn"><%= f.button :submit, "Create a petplace" %></div>
          </div>
          <% end %>

      </div>
  </div>
</div>


