<div class="container">

  <div class="banner-show"><img src="<%= @petplace.images %>" alt=""></div>

    <%=link_to petplaces_path do %>
    <div class="btn btn-ghost">Back</div>
    <% end %>

    <%=link_to new_petplace_appointment_path(params[:id]) do %>
    <div class="btn btn-flat">Book</div>
    <% end %>
  <div class="petplace">

    <h4><%= @petplace.address %></h4>
    <p><%= @petplace.name %></p>
    <p><%= @petplace.details %></p>
    <h4>Reviews</h4>

    <p><%= @petplace.reviews %></p>
    <p>Hosted by <%= "#{@petplace.user.first_name} #{@petplace.user.last_name }"%></p>
    <p><%= "#{@petplace.price}€" %></p>
    <img class="avatar-large" alt="avatar-large" src="<%= @petplace.user.user_image %>" />
    <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        >
      </div>
  </div>
</div>

