<div class="container">
  <div class="petplace">
    <h4><%= @petplace.address %></h4>
    <p><%= @petplace.name %></p>
  <div class="petplace-main">
    <div class="slide">
      <div class="glide">
        <div data-glide-el="track" class="glide__track">
          <ul class="glide__slides">
            <%= @images.each do |image| %>
              <li class="glide__slide"><img src="<%= image %>" alt=""></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="info-box">
      <h4><%= @petplace.address %></h4>
      <p><%= @petplace.name %></p>
      <p><%= "#{@petplace.price}€" %></p>
      <%=link_to new_petplace_appointment_path(params[:id]) do %>
        <div class="btn btn-flat">Book</div>
      <% end %>
    </div>
  </div>




    <p><%= @petplace.details %></p>



    <p>Hosted by <%= "#{@petplace.user.first_name} #{@petplace.user.last_name }"%><img class="avatar-large" alt="avatar-large" src="<%= @petplace.user.user_image %>" /></p>
    <p><%= "#{@petplace.price}€" %></p>
    <h4>Reviews</h4>
    <p><%= @petplace.reviews %></p>

    <%=link_to new_petplace_appointment_path(params[:id]) do %>
    <div class="btn btn-flat">Book</div>
    <% end %>
    <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        >
      </div>
  </div>

</div>

