<div class="container">

  <div class="petplace">
    <h2><%= @petplace.name %></h2>
    <p><%= @petplace.address %></p>
  <div class="petplace-main">
    <div class="slide">
      <%= render 'components/slide', images: @images %>
    </div>
    <div class="info-box">

<div class="card-product">
  <div class="card-product-infos">
    <h2><%= @petplace.name %></h2>
    <p><%= @petplace.address %></p>
    <p>Price per night: <%= "#{@petplace.price}€" %></p>
    <p>Hosted by <%= "#{@petplace.user.first_name} #{@petplace.user.last_name }"%><img class="avatar" alt="" src="<%= @petplace.user.user_image %>" /></p>
    <% if @rating > 0 %>
      <p>Rating:
        <% @rating.times do %>
        <i class="fas fa-bone positive"></i>
        <% end %>
        <% (5 - @rating).times do %>
        <i class="fas fa-bone negative"></i>
        <% end %>
      </p>
      <% end %>
    <%=link_to new_petplace_appointment_path(params[:id]) do %>
      <div class="btn btn-flat">Book</div>
    <% end %>
  </div>
</div>




    </div>
  </div>



    <p><%= @petplace.details %></p>

    <h4>Reviews</h4>
    <div class="review">
      <% if @rating > 0 %>
        <% @petplace.reviews.each do |review| %>
          <div class="card-review">
            <div class="card-review-infos">
              <h2><%= "#{review.appointment.user.first_name} #{review.appointment.user.last_name}" %><img class="avatar" alt="" src="<%= review.appointment.user.user_image %>" /></h2>
              <p><%= review.description %></p>
              <p>Rated:
                <% review.rating.times do %>
                <i class="fas fa-bone positive"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                <i class="fas fa-bone negative"></i>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No reviews yet.</<p>
      <% end %>
    </div>

    <%=link_to new_petplace_appointment_path(params[:id]) do %>
    <div class="btn btn-flat book-petplace">Book</div>
    <% end %>
    <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        >
      </div>
  </div>
</div>

