

<div class="banner-show"><img src="<%= @petplace.images %>" alt=""></div>

<div class="container-show">

  <p><%= @petplace.name %></p>
  <p><%= @petplace.details %></p>
  <p><%= "#{@petplace.price}€" %></p>
  <p>Hosted by <%= "#{@petplace.user.first_name} #{@petplace.user.last_name }"%></p>
</div>
