<div class="container">

  <div class="banner-show"><img src="<%= @petplace.images %>" alt=""></div>

  <br>

    <%=link_to petplaces_path do %>
    <div class="btn btn-ghost">Back</div>
    <% end %>

    <%=link_to new_petplace_appointment_path(params[:id]) do %>
    <div class="btn btn-flat">Book</div>
    <% end %>
  <div class="petplace">

    <h4><%= @petplace.address %></h4>
    <p><%= @petplace.name %></p>
    <p><%= @petplace.details %></p>
    <h4>Reviews</h4>

    <ul class="list-group">
      <% @petplace.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.appointment.user.first_name %>
          <%= 'comment: ' %>
          <%= review.description %>
        </li>
      <% end %>

    <%= render "reviews/new", petplace: @petplace, review: @review %>

    <p>Hosted by <%= "#{@petplace.user.first_name} #{@petplace.user.last_name }"%></p>
    <p><%= "#{@petplace.price}€" %></p>
    <img class="avatar-large" alt="avatar-large" src="<%= @petplace.user.user_image %>" />
    <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        >
      </div>
  </div>
</div>

