<div class="container">
  <img src="<%= @petplace.images %>" alt="">
  <p><%= @petplace.name %></p>
  <p><%= @petplace.details %></p>
  <p><%= "#{@petplace.price}€" %></p>
  <p>Hosted by <%= "#{@petplace.user.first_name} #{@petplace.user.last_name }"%></p>
</div>
