
<h1>Confirmation page for Appointment</h1>

<div class="petplace">

    <h4><%= @petplace.address %></h4>
    <p><%= @petplace.name %></p>
    <p><%= @petplace.details %></p>
    <!-- <h4>Reviews</h4> -->

    <%# review_total = 0 %>
    <%# @petplace.reviews.each do |review| %>
    <%# review_total += review.rating %>
    <%# end %>
    <!-- <p> total: <%#= review.total %></p> -->
    <!-- <p> number of reviews: <%#= @petplace.reviews.size %></p> -->
    <div class="card check">
      <h2>TOTAL:</h2>
      <div><p>Starting Date: <%= @appointment.start_date %></p></div>
      <div><p>Ending Date: <%= @appointment.end_date %></p></div>
      <div><p>Duration: <% duration = (@appointment.end_date - @appointment.start_date) %> <%= duration.to_i %> Days</p></div>
      <div><p>Price per Day: <%=  %></p></div>
      <div><p><%= @petplace.price %>€ x <%= duration.to_i %> Days: <%= (@petplace.price * duration).to_i %>€</p></div>
      <div><p>Included VAT (21%): €<%= ((@petplace.price * duration).to_i) * 0.21 %></p></div>
      <div><p>TOTAL: €<%= ((@petplace.price * duration).to_i)%></p></div>
    </div>


    <%=link_to petplace_path(Petplace.find(Appointment.find(params[:id]).petplace_id)) do %>
    <div class="btn btn-ghost">Back</div>
    <% end %>

  <!-- Remember to update the path to booking -->
  <%=link_to pending_path(@appointment), method: :patch do %>
    <div class="btn btn-flat">Confirm booking</div>
    <% end %>

</div>
